# Sensitive files
.rancher_password

# Backup files
*.backup
*.bak
*.bak2

# Log files
*.log
logs/

# Certificates
certs/

# Kind cluster config
kind-cluster.yaml

# OS-specific files
.DS_Store
.AppleDouble
._*
